.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../assets/Bgs/Bg.webp");
    background-size: cover;
    background-position-y: top;
    background-position: center;
}
